@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:wght@300;500&display=swap');

/*--------------------------------RESET----------------------------------------*/
*{
    margin:0px;
    padding:0px;
    font-family:'Poppins', sans-serif ;
    font-weight:300;
    box-sizing: border-box;
}


ul{
    list-style:none;
}

a{
    text-decoration:none;
}

/*----------------------------------HEADER-------------------------------------*/
.navbar-brand h1{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 40px;
}

/*----------------------------------MAIN----------------------------------------*/

.hero{
    padding-top:100px;
    padding-bottom: 100px;
    background-color:#0D1F2D;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color:rgb(255, 255, 255);
}

.hero p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color:rgb(255, 255, 255);
}

.destacados{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:50px 300px;
    grid-template-areas: "titulo titulo titulo titulo"
    "grid-1 grid-2 grid-3 grid-4";
    gap:5px;
    padding-bottom:25px;
    background-color: #d2ddeb;
}

.destacados h2{
    display: flex;
    justify-content: center;
    background-color:#0a80bb;
    color:white;
    text-decoration:underline;
    grid-area:titulo;
}

.destacados div{
    display:flex;
    flex-direction:column;
    align-items: center;
    box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -webkit-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -moz-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
}

.grid-1{
    grid-area:grid-1;
}

.grid-2{
    grid-area:grid-2;
}

.grid-3{
    grid-area:grid-3;
}

.grid-4{
    grid-area:grid-4;
}

.destacados div h3{
    font-size:15px;
}

.destacados div p{
    font-size:15px;
}

.ofertas{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50px 300px;
    grid-template-areas: "titulo-ofertas titulo-ofertas titulo-ofertas titulo-ofertas"
    "grid-a grid-b grid-c grid-d"
    "gird-e grid-f grid-g grid-h";
    gap:25px;
    padding-bottom:25px;
    background-color: #d2ddeb;
}

.ofertas h2{
    display:flex;
    justify-content: center;
    background-color:#0a80bb;
    color:white;
    text-decoration:underline;
    grid-area:titulo-ofertas;
}

.ofertas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -webkit-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -moz-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    padding:0px;
}

.grid-a{
    grid-area: grid-a;
}

.grid-b{
    grid-area:grid-b;
}

.grid-c{
    grid-area:grid-c;
}

.grid-d{
    grid-area:grid-d;
}

.ofertas div h3{
    font-size:15px;
}

.ofertas div p{
    font-size:15px;
}
/*!-----------------Product-Page------------------*/

.productos h2{
    display:flex;
    justify-content: center;
    background-color:#7BCDBA;
    color:black;
    font-size: 30px;
    text-decoration: underline ;
    margin: 0px;
}

.productos p{
    display: flex;
    justify-content: center;
    background-color: #d2ddeb;
    margin:0px;
    padding-bottom: 40px;
    padding-top: 40px;
    color: Red;
}

.productos-remeras{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:50px 275px 275px;
    grid-template-areas:"remeras remeras remeras"
    "remera-1 remera-2 remera-3"
    "remera-4 remera-5 remera-6";
    gap: 40px;
    background-color: #d2ddeb;
}

.productos-remeras h2{
    grid-area: remeras;
    background-color: black;
    color: #BD93D8;
    display: flex;
    justify-content: center;
}

.productos-remeras div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -webkit-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -moz-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    height: 108%;
    width:180px;
    margin-left: 140px;
    background-color:#BD93D8;
}

.productos-remeras div p{
    margin-bottom:5px;
    font-size: 15px;
}

.productos-remeras div h3{
    font-size: 15px;
}



.productos-pantalones{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:90px 275px 275px;
    grid-template-areas:"pantalones pantalones pantalones"
    "pantalon-1 pantalon-2 pantalon-3"
    "pantalon-4 pantalon-5 pantalon-6";
    gap: 40px;
    background-color: #d2ddeb;
}

.productos-pantalones h2{
    grid-area: pantalones;
    background-color: black;
    color: #7BCDBA;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.productos-pantalones div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -webkit-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -moz-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    height: 108%;
    width:180px;
    margin-left: 140px;
    background-color:#7BCDBA;
}

.productos-pantalones div p{
    margin-bottom:5px;
    font-size: 15px;
}

.productos-pantalones div h3{
    font-size: 15px;
}

.productos-buzos{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:90px 275px 275px;
    grid-template-areas:"buzos buzos buzos"
    "buzo-1 buzo-2 buzo-3"
    "buzo-4 buzo-5 buzo-6";
    gap: 40px;
    background-color: #d2ddeb;
    padding-bottom:40px;
}

.productos-buzos h2{
    grid-area: buzos;
    background-color: black;
    color: #93748A;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.productos-buzos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -webkit-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    -moz-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
    height: 108%;
    width:180px;
    margin-left: 140px;
    background-color:#93748A;
}

.productos-buzos div p{
    margin-bottom:5px;
    font-size: 15px;
}

.productos-buzos div h3{
    font-size: 15px;
}
/*!-------------Acerca-de page--------------*/

.titulo-nosotros{
    margin-top:57px ;
    background-color: #93748A;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.nosotros-2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
    padding-top: 70px;
    background-color: #d2ddeb;
}

.locales{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:50px 380px 70px;
    grid-template-areas: "titulo-local titulo-local titulo-local titulo-local"
    "local-1 local-2 local-3 local-4"
    "bottom-t bottom-t bottom-t bottom-t";
    gap: 20px;
    padding-top: 70px;
    padding-left: 30px;
    background-color: #d2ddeb;
}

/*!---------------Locales page------------*/
.locales div{
    border:2px white solid;
    display:flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.5);
    background-color: white;
}

.locales h2{
    grid-area:titulo-local;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.locales .sub{
    grid-area: bottom-t;
    display: flex;
    justify-content: center;
}
/*!--------------Envios page------------*/

.section-envios{
    padding-top: 55px;
    list-style:circle;
    background-color: #d2ddeb;
    padding-bottom: 350px;
}

.section-envios h2{
    background-color: #7BCDBA;
    display: flex;
    justify-content: center;
}

.section-envios ul li{
    list-style:disc;
}


/*---------------------------------FOOTER----------------------------------------*/

.footer{
    background-color:#7D869C;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    padding:5px;
}

.footer h2{
    color:rgb(255, 255, 255);
    font-family:'Poppins', sans-serif;
    font-weight:500;
    font-size:20px;
}

.footer p{
    color:white;
    font-size:15px;
}

/*!---------MEDIA QUERY---------*/

@media screen and (max-width:740px){
    .hero{padding-top:110px;}
    .destacados{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:50px 300px 300px;
        grid-template-areas: "titulo titulo"
        "grid-1 grid-2"
        "grid-3 grid-4";
    }
    .ofertas{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 50px 300px 300px 300px 300px;
        grid-template-areas:"titulo-ofertas titulo-ofertas"
        "grid-a grid-b"
        "grid-c grid-d"
        "grid-e grid-f"
        "grid-g grid-h";
    }
}

@media screen and (max-width:420px){
    .hero{padding-top:140px;}
    .destacados{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:40px;
        grid-template-areas: "titulo"
        "grid-1"
        "grid-2"
        "grid-3"
        "grid-4";
    }
    .ofertas{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:40px;
        grid-template-areas:"titulo-ofertas"
        "grid-a"
        "grid-b"
        "grid-c"
        "grid-d"
        "grid-e"
        "grid-f"
        "grid-g"
        "grid-h";
    }
}