/*------------header---------*/
header{
    nav{
        div{
            .navbar-brand{
                h1{
                    color:$color-logo;
                    text-decoration: underline;
                    font-size: 40px;
                }
            }
        }
    }
}