header{
    nav{
        div{
            .navbar-brand{
                h1{
                    color: rgb(255, 255, 255);
                    text-decoration: underline;
                    font-size: 40px;
                }
            }
        }
    }
}