/*----------index page--------*/
main{
    .hero{
        padding-top:100px;
        padding-bottom: 100px;
        background: rgb(27,0,126);
        background: radial-gradient(circle, rgba(27,0,126,1) 0%, rgba(0,0,0,1) 100%);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h2{
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 30px;
            color:rgb(255, 255, 255);
            animation-name: slidein;
            animation-duration:3s;
            animation-timing-function: ease-in;
            animation-direction:normal;
            animation-delay: 1s;
            animation:slidein 3s ease-in-out normal;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 20px;
            color:rgb(255, 255, 255);
            animation-name: slidein;
            animation-duration:3s;
            animation-timing-function: ease-in;
            animation-direction:normal;
            animation-delay: 1s;
            animation:slidein 3s ease-in-out normal;
        }
    }
    .destacados{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows:50px 310px;
        grid-template-areas: "titulo titulo titulo titulo"
        "grid-1 grid-2 grid-3 grid-4";
        gap:15px;
        padding-bottom:25px;
        background-color:$color-principal;
        h2{
            @extend %flex;
            background: rgb(41,41,41);
            background: radial-gradient(circle, rgba(41,41,41,1) 0%, rgba(38,42,46,1) 20%, rgba(99,127,159,1) 100%);
            color:white;
            text-decoration:underline;
            grid-area:titulo;
        }
        div{
            display:flex;
            flex-direction:column;
            align-items: center;
            box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
            -webkit-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
            -moz-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
            transition:1s;
            &:hover{
                transform: scale(1.1);
            }
            h3{
                font-size:15px;
            }
            p{
                font-size:15px;
            }
        }
    }
    .ofertas{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 50px 310px;
        grid-template-areas: "titulo-ofertas titulo-ofertas titulo-ofertas titulo-ofertas"
        "grid-a grid-b grid-c grid-d"
        "gird-e grid-f grid-g grid-h";
        gap:30px;
        padding-bottom:30px;
        background-color:$color-principal;
        h2{
            @extend %flex;
            background: rgb(41,41,41);
            background: radial-gradient(circle, rgba(41,41,41,1) 0%, rgba(38,42,46,1) 20%, rgba(99,127,159,1) 100%);
            color:white;
            text-decoration:underline;
            grid-area:titulo-ofertas;
        }
        div{
            @extend %flex;
            flex-direction: column;
            box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
            -webkit-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
            -moz-box-shadow: 13px 9px 28px -16px rgba(0,0,0,0.46);
            padding:0px;
            transition:1s;
            &:hover{
                transform:scale(1.1);
            }
            h3{
                font-size:15px;
            }
            p{
                font-size:15px;
            }
        }
    }
}
/*----------product page--------*/
main{
    .productos{
        h2{
            @extend %flex;
            background-color:#7BCDBA;
            color:black;
            font-size: 30px;
            text-decoration: underline ;
            margin: 0px;
            padding-top: 55px;
        }
        h3{
            @extend %flex;
            background-color: $color-principal;
            margin:0px;
            padding-bottom: 30px;
            padding-top: 40px;
            color: rgb(0, 0, 0);
        }
    }
    .productos-remeras{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:45px 400px 400px;
        grid-template-areas:"remeras remeras remeras"
        "remera-1 remera-2 remera-3"
        "remera-4 remera-5 remera-6";
        gap: 40px;
        background-color: $color-principal;
        margin:0px;
        padding-bottom:30px;
        align-items: center;
        justify-items: center;
        h2{
            grid-area: remeras;
            background: rgb(23,23,23);
            background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(54,41,61,1) 31%, rgba(189,147,216,1) 100%);
            color: #BD93D8;
            @extend %flex;
            margin:0px;
            width: 100%;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.795);
            -webkit-box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.753);
            -moz-box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.801);
            height: 400px;
            width:220px;
            border:3px solid #BD93D8;
            transition:1s;
            &:hover{
                transform:scale(1.1);
            }
            h3{
                font-size: 15px;
            }
            p{
                margin-bottom:5px;
                font-size: 15px;
            }
            img{
                width: 200px;
                height: 300px;
                object-fit: cover;
            }
        }
    }
    .productos-pantalones{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:45px auto auto;
        grid-template-areas:"pantalones pantalones pantalones"
        "pantalon-1 pantalon-2 pantalon-3"
        "pantalon-4 pantalon-5 pantalon-6";
        gap: 40px;
        background-color: $color-principal;
        width:100%;
        padding-bottom: 30px;
        align-items: center;
        justify-items: center;
        h2{
            grid-area: pantalones;
            background: rgb(23,23,23);
            background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(25,48,41,1) 26%, rgba(66,147,118,1) 100%);
            color: #7BCDBA;
            @extend %flex;
            margin:0px;
            width: 100%;
        }
        div{
            @extend %flex;
            flex-direction: column;
            box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.788);
            -webkit-box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.788);
            -moz-box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.788);
            height:400px;
            width:220px;
            border:3px solid #7BCDBA;
            transition:1s;
            &:hover{
                transform:scale(1.1);
            }
            h3{
                font-size: 15px;
            }
            p{
                margin-bottom:5px;
                font-size: 15px;
            }
            img{
                width: 200px;
                height: 300px;
                object-fit: cover;
            }
        }
    }
    .productos-buzos{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:45px auto auto;
        grid-template-areas:"buzos buzos buzos"
        "buzo-1 buzo-2 buzo-3"
        "buzo-4 buzo-5 buzo-6";
        gap: 40px;
        background-color:$color-principal;
        padding-bottom:40px;
        align-items: center;
        justify-items: center;
        h2{
            grid-area: buzos;
            background: rgb(23,23,23);
            background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(29,19,15,1) 26%, rgba(147,116,138,1) 100%);
            color: #93748A;
            @extend %flex;
            margin:0px;
            width: 100%;
        }
        div{
            @extend %flex;
            flex-direction: column;
            box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.795);
            -webkit-box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.788);
            -moz-box-shadow: 13px 9px 28px -16px rgba(0, 0, 0, 0.795);
            height: 400px;
            width:220px;
            border:3px solid #93748A;
            transition:1s;
            &:hover{
                transform:scale(1.1);
            }
            h3{
                font-size: 15px;
            }
            p{
                margin-bottom:5px;
                font-size: 15px;
            }
            img{
                width: 200px;
                height: 300px;
                object-fit: cover;
            }
        }
    }
}

/*-----------nosotros page----------*/
main{
    .acerca-nosotros{
        .titulo-nosotros{
            margin-top:57px ;
            background-color: #93748A;
            @extend %flex;
            padding-bottom: 5px;
        }
    }
    .nosotros-2{
        div{
            @extend %flex;
            flex-direction: column;
            padding-bottom: 150px;
            padding-top: 70px;
            background-color:$color-principal;
        }
    }
}

/*-----------locales page----------*/

main{
    .locales{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:50px 380px 70px;
        grid-template-areas: "titulo-local titulo-local titulo-local titulo-local"
        "local-1 local-2 local-3 local-4"
        "bottom-t bottom-t bottom-t bottom-t";
        gap: 20px;
        padding-top: 70px;
        background-color:$color-principal;
        height: 850px;
        justify-items: center;
        align-items: center;
        h2{
            grid-area:titulo-local;
            @extend %flex;
            text-decoration: underline;
        }
        div{
            border:2px white solid;
            display:flex;
            flex-direction: column;
            width: 300px;
            box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.5);
            background-color: white;
        }
        .sub{
            grid-area:bottom-t;
            @extend %flex;
        }
    }
}

/*--------------envios page----------*/
main{
    .section-envios{
        padding-top: 55px;
        list-style:circle;
        background-color:$color-principal;
        padding-bottom: 410px;
        h2{
            background: rgb(23,23,23);
            background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(25,48,41,1) 26%, rgba(66,147,118,1) 100%);
            @extend %flex;
            color: white;
        }
        ul{
            li{
                list-style:disc;
                font-size: 25px;
            }
        }
    }
}
